<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%= uname %> </title>
</head>
<body>
    
    <h1>Welcome <%= uname %> </h1>
    <a href="/users/setting/<%= uname %>">Setting</a>
    <h2>Here is your Board</h2>
    <div>
        <% boards.forEach(e => { %>
            <div style="background-color: aqua; width: 100px; height: 100px;">
                <div><%= e.name %> </div>
                <div><%= e.description %> </div>
            </div>
        <% }) %>
    </div>
    <div><a href="#">Add Board</a></div>
</body>
</html>