<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Note</title>
</head>
<body>
    <img src="<%= note.cover_img %>" alt="note-cover">

    <p><%=note.note%></p>
    <p><i><b>Written at:</b> <%=prop.created%> <b>Lastly modified at:</b> <%=prop.updated%></i></p>
    <p><i><%=prop.stat%></i></p>

    <br>
    <button><a href="boards/<%=note.BoardId%>/<%=note.id%>/edit">Edit</a></button>
</body>
</html>