<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>board</title>
  </head>
  <body>
    <div class="container">
      <%- include ('../partials/nav-login.ejs') %> 
        <img src="<%= board.cover_img %>" alt="board-cover" class="img-fluid" alt="Responsive image">
      <div class="jumbotron">

      </div>
    <h1><%= board.name %></h1>
    
    <blockquote class="blockquote">
        <p class="mb-0"><%= board.description %></p>

    <h5>Author:</h5>
    <ul>
        <% users.forEach (e => { %>
            <li><%= e.uname %> </li>
        <% }) %>
    </ul>
    <form action="/boards/addAuthor/<%= board.id %>" method="post">
      <label for="input">Tambahkan Author :</label>
      <input type="text" name="UserId">
      <button type="submit">Add</button>
    </form>

    <% for(let i = 0; i < notes.length; i++) { %>
    <div class="card" style="width: 18rem;">
        <img src=<%= notes[i].cover_img %> class="card-img-top" alt="board-cover">
        <div class="card-body">
          <p class="card-text"><%= notes[i].note %></p>
          <a href="/boards/<%=board.id%>/<%=notes[i].id%>" class="btn btn-primary">View Note</a>
          <a href="/boards/<%=board.id%>/<%=notes[i].id%>delete" class="btn btn-danger">Delete Note</a>
        </div>
    </div>
    <% } %>

    <br>
    <a href="/boards/<%=board.id%>/notes/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a new note</a>
    </div>

  </body>
</html>