<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%= board.cover_img %>" alt="board-cover">

    <h1><%= board.name %></h1>
    <p><%= board.description %></p>
    <h3>Author:</h3>
    <ul>
        <% users.forEach (e => { %>
            <li><%= e.uname %> </li>
        <% }) %> 
    </ul>
    <form action="/boards/addAuthor/<%= board.id %>" method="post">
        <label for="input">Masukkan Kode User :</label>
        <input type="text" name="UserId">
        <button type="submit">Add</button>
    </form>
    
    <h2>Notes:</h2>
    <% for(let i = 0; i < notes.length; i++) { %>
        <p><%= notes[i].note %></p>
        <button><a href="/boards/<%=board.id%>/<%=notes[i].id%>">View note</a></button>
    <% } %>


    <br>
    <button><a href="/boards/<%=board.id%>/notes/add">Add a new note</a></button>
</body>
</html>